<div class="form-group">
  <%= f.label :body, value: 'Question' %>
  <%= f.text_field :body, class: "form-control mb-20" %>

  <div class='form-group'>
    <select class="form-select mb-20" name='question[answer_type]'>
      <option value="single"><%= Question.answer_types[:single] %></option>
      <option value="multiple"><%= Question.answer_types[:multiple] %></option>
      <option value="text"><%= Question.answer_types[:text] %></option>
    </select>

  <div id='answer-fields'>
    <%= render partial: 'single_answer', locals: { f: f } %>
  </div>

  <div class="form-group">
    <%= f.submit 'Create', class: "btn btn-success btn-sm mt-10", data: {disable_with: 'wait...'} %>
  </div>
</div>
