<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th class="u-align-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td><%= question.answer_type %></td>
      <td class="u-align-center">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <a href="<%= question_path(question) %>" class="btn btn-outline-info">Show</a>
          <a href="<%= edit_question_path(question) %>" class="btn btn-outline-secondary">Edit</a>
          <a data-confirm="Are you sure?" data-method="delete" href="<%= question_path(question) %>" class="btn btn-outline-danger">Delete</a>  
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
