<div class="container">
  <h1>Welcome to homepage</h1>
</div>

<li><%= link_to 'Sign in', new_user_session_path %></li>
<li><%= link_to 'Sign up', new_user_registration_path %></li>
<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
<li><%= link_to 'My profile', users_profiles_path(id: current_user.id) %></li>
<li><%= link_to 'Change Password', edit_user_registration_path %></li>
