<div class="form-group">
  <div>
    <%= f.label :assignee_email, value: 'Assignee email' %>
    <%= f.email_field :assignee_email, class: "form-control mb-20" %>
  </div>

  <select class="form-select mb-20", name='test_assignment[test_id]'>
    <%= f.label :test_id, value: 'Select test' %>
    <% tests.each do |test| %>
      <option value="<%= test.id %>"><%= test.name %></option>
    <% end %>
  </select>

  <%= f.label :expiration_time, value: 'Expiration time' %>
  <p><%= f.datetime_field :expiration_time, value: @test_assignment.expiration_time %></p>

  <div class="form-group">
    <%= f.submit 'Assign', class: "btn btn-success btn-sm mt-10", data: {disable_with: 'wait...'} %>
  </div>
</div>
