<%= render partial: 'navbar_test_assignments' %>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Test name</th>
      <th>Student email</th>
      <th>Status</th>
      <th>Sent link</th>
      <th>Expiration time</th>
    </tr>
  </thead>
  <tbody>
    <% test_assignments.each do |test_assignment| %>
    <tr>
      <td><%= test_assignment.test.name %></td>
      <td><%= test_assignment.assignee_email %></td>
      <td><%= test_assignment.status %></td>
      <td><a href="<%= test_assignment_path(id: test_assignment.id) %>" class="btn btn-outline-info">Test</a></td>
      <td><%= test_assignment.expiration_time %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<footer>
  <div class="pagination justify-content-center">
    <%== pagy_bootstrap_nav @pagy %>
   </div>
</footer>
