<% provide :page_title, 'Test Assignment' %>

<div class="container text-center">  
  <h1><%= test_assignment.test.name %></h1>
  <br>
</div>

<div class="form-group">
  <%= form_for(:assignment_result,
                url: answer_options_assignee_answers_path,
                method: :post,
                html: { role: 'form'}) do |f| %>
    <% questions.each do |question| %><br>
      <h4>
        
        <% if question.answer_type_single? %>
          <!--div class="form-group">
            <strong><%= question.body %></strong>
            <#% question.answer_options.each do |answer_option| %>
              <div class="block">
                <#%= f.radio_button "answer_option[#{question.id}]", answer_option.id %>
                <#%= label :answer_option, answer_option.body %>
              </div> 
            <#% end %>
          </div--> 
          <div class="form-group">
            <%= question.body %>
            <% question.answer_options.each do |answer_option| %>
              <div class="block">
                <%= f.radio_button "#{question.id}[#{answer_option.id}][value]", answer_option.correct, {id: "assignment_result_value_#{answer_option.id}"} %>
                <label for="<%= "assignment_result_value_#{answer_option.id}" %>"><%= answer_option.body %></label>
              </div> 
            <% end %>
          </div>   
        <% elsif question.answer_type_multiple? %>
          <!--%= fields_for "#{question.id}".to_sym do |ff| %-->
            <div class="form-group">
              <%= question.body %>
              <% question.answer_options.each do |answer_option| %>
                <div class="block">
                  <%= f.check_box :value, name: "assignment_result[#{question.id}][#{answer_option.id}][value]", id: "assignment_result_value_#{answer_option.id}" %>
                  <label for="<%= "assignment_result_value_#{answer_option.id}" %>"><%= answer_option.body %></label>
                </div> 
              <% end %>
            </div>  
          <!--% end %-->
        <% else %>
          <%= fields_for "assignment_result[#{question.id}]" do |ff| %>
            <div class="form-group">
              <label for="<%= "answer_#{question.id}" %>"><%= question.body %></label>
              <%= ff.text_area(:body, id: "answer_#{question.id}") %>
            </div>
          <% end %>
        <% end %>

      </h4>
    <% end %>

    <div  class="form-group">
      <%= f.submit 'Submit', class: "btn btn-success bn-sm mt-10", data: {disable_with: 'wait...'} %>
    </div>
  <% end %>
</div>
