<%= form_for(@test, html: {role: "form"}) do |form|%>
  <%= form.label :name, value: 'Test' %>
  <%= form.text_field :name, class: "form-control mb-20" %>

  <ul class="list-group list-group-flush">
    <%= hidden_field_tag "test[question_ids][]", nil %>
    <% Question.all.each do |question| %>
      <li class="list-group-item list-group-item">
          <%= check_box_tag "test[question_ids][]", question.id, @test.question_ids.include?(question.id), id: dom_id(question) %>
          <%= label_tag dom_id(question), question.body %><br>
      </li>
    <% end %>
  </ul>

  <div class="form-group">
    <%= form.submit 'Create', class: "btn btn-success btn-sm mt-10", data: {disable_with: 'wait...'} %>
  </div>
<% end %>
