<h4>Add new Test</h4>
<%= form_with(model: @test, url: tests_path) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.label :name, value: 'Name' %>
  <%= form.text_area :name, class: 'form-control', rows: 1 %>
  <%= form.label :question, 'Questions:', :class => "control-label" %><br>
  <%= form.collection_check_boxes :question_ids,Question.all, :id, :body %>

  <div class="d-flex justify-content-end mt-2">
    <%= form.button :Create, type: :submit, class: 'btn btn-info' %>
  </div>
<% end %>