<!DOCTYPE html>
<html>
  <head>
    <title>EasyCheck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="/home">
              <img src="/assets/logo2.jpeg" width="30" height="24" class="d-inline-block align-text-top">
              Easy Check
            </a>
            <ul class="nav justify-content-center nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_in">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_up">Sign up</a>
              </li>
            </ul>
          </div>
        </nav>
        <br>
      </header>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
